.app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: hsl(120, 5%, 30%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.app > * {
  margin: 0 2vmin 2vmin 2vmin;
}

.app > :first-child {
  margin-top: 2vmin;
}

.middleRow {
  display: flex;
  flex: 1 1 100%;
}

.middleRow > :not(:last-child) {
  margin-right: 2vmin;
}

.main {
  flex: 1 1 100%;
}

.console {
  flex: 1 1 40%;
}

.status {
  flex: 1 1 0%;
}

.keyboard {
  flex: 1 1 0%;
}
